<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CourseSignal</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <header>
    <nav class="flex items-center justify-between w-screen h-20 bg-indigo-300">

      <div id="CS-Logo" class="m-4 text-4xl text-white">
        <a href="/">Course Signal</a>
      </div>

      <div class="flex items-center justify-evenly">
        <button
          class="w-56 mx-4 text-white bg-indigo-700 shadow rounded-xl h-14"
        >
          Students
        </button>

        <button
          class="w-56 mx-4 text-white bg-indigo-700 shadow rounded-xl h-14"
        >
          Courses
        </button>
      </div>

    </nav>
  </header>

  {{{body}}}

</html>