<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CourseSignal</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>

  <header>
    <nav class = "w-screen bg-indigo-300 h-20 flex items-center justify-between">
      
      <div id = "CS-Logo" class = "text-4xl text-white m-4">
        Course Signal
      </div>

      <div class = "flex justify-evenly items-center">
        <button class = "bg-indigo-700 text-white rounded-2xl shadow mx-4 w-56 h-14">
          Students
        </button>

        <button class = "bg-indigo-700 text-white rounded-2xl shadow mx-4 w-56 h-14">
          Courses
        </button>
      </div>

    </nav>
  </header>

  {{{body}}}

  </html>